@charset "utf-8";
/* CSS Document */

div {
	background: linear-gradient(to bottom right, #005CFF, #00EBFF);
	border-radius:25px;
	color:#FFFFFF;
	padding:20px;
	border:5px solid #00FFFB
}

h3 {

}

th {
	background-color:#2200FF;
	padding-left: 30px;
	padding-right: 30px;
}
	
td {
	background-color:#C1FEFF;
	color:#000000;
	padding-left: 30px;
	padding-right: 30px;
}

#menu {
	font-size: 12px;
}